<h1>Listing scores</h1>

<table class="table center">
  <tr>
    <td><%= link_to "<- Prev Day", scores_path(:day => (@day+1)) %></td>
    <td>
    <% if @day == 0 %>
      Today
    <% elsif @day > 0 %>
      Games <%= pluralize(@day.abs, "day") %> ago
    <% else %>
      Games in <%= pluralize(@day.abs, "day") %>
    <% end %>
    <br/>
    <%= @day.days.ago.to_date %>
    </td>
    <td><%= link_to "Next Day ->", scores_path(:day => (@day-1)) %></td>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <th>Home Team</th>
      <th>Home Score</th>
      <th>Away Team</th>
      <th>Away Score</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr id="score-<%=game.id%>">
        <td>
          <%= game.home_team.city %>
          <%= game.home_team.name %>
        </td>
        <td>
          <input class="home-score" type="number" <%= 'value="'+game.score.away.to_s+'"' if game.score %>/>
        </td>
        <td>
          <%= game.away_team.city %>
          <%= game.away_team.name %>
        </td>
        <td>
          <input class="away-score" type="number" <%= 'value="'+game.score.away.to_s+'"' if game.score %>/>
        </td>
        <td>
          <button class="score-submit" data-game-id="<%= game.id %>">Submit</button>
        </td>
        <td class="score-status"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(".score-submit").on("click", function() {
    console.log("clicked");
    var game_id = $(this).data("game-id");
    var home = $("#score-"+game_id).find(".home-score").val();
    var away = $("#score-"+game_id).find(".away-score").val();
    $.post(
      "/scores",
      {
        game_id: game_id,
        home: home,
        away: away,
        authenticity_token: "<%= form_authenticity_token %>"
      },
      function(data) {
        console.log(data);
      },
      "json"
    );
  });
</script>