<div class="center focus-box game-box">
  <h1>Standings</h1>

  <a href="/standings/week?week=<%= @week-1 %>">Previous</a>
  <% if @week == 0 %>
    This Week
  <% elsif @week > 0 %>
    <%= pluralize(@week.abs, 'Week') %> From Now
  <% elsif @week < 0 %>
    <%= pluralize(@week.abs, 'Week') %> Ago
  <% end %>
  <a href="/standings/week?week=<%= @week+1 %>">Next</a>

  <table class="center">
    <thread>
      <tr>
        <th class="pick-col">User</th>
        <th class="pick-col">Wins</th>
        <th class="pick-col">Losses</th>
        <th class="pick-col">No Picks</th>
      </tr>
    </thread>

    <tbody>
    <% @users.sort{|a,b| a['wins'] <=> b['wins']}.reverse.each do |user| %>
      <tr>
        <td class="pick-col"><%= user['displayname'] %></td>
        <td class="pick-col"><%= user['wins'] %></td>
        <td class="pick-col"><%= user['losses'] %></td>
        <td class="pick-col"><%= user['nopicks'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
