<div class="center focus-box game-box">
  <table class="center">
    <tr>
      <td>Home Team</td>
      <td>Away Team</td>
      <td>Date</td>
      <td>Time</td>
    </tr>
    <tr>
      <td>
        <select data-field-name="Home Team" id="homeTeamId" class="center searchTerm gameTerm">
          <option value="">Any</option>
          <% @teams.each do |team| %>
            <option value='<%=team.id%>'><%= team.fullname.titleize %></option>
          <% end %>
        </select>
      </td>
      <td>
        <select data-field-name="Away Team" id="awayTeamId" class="center searchTerm gameTerm">
          <option value="">Any</option>
          <% @teams.each do |team| %>
            <option value='<%=team.id%>'><%= team.fullname.titleize %></option>
          <% end %>
        </select>
      </td>
      <td>
        <input data-field-name="Date" id="date" class="center searchTerm gameTerm" type="date"/>
      </td>
      <td>
        <input data-field-name="Time" id="time" class="center searchTerm gameTerm" type="time"/>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input id="createGame" type="button" value="Create" />
      </td>
      <td>
        <input id="searchGame" type="button" value="Search" />
      </td>
      <td></td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  $('#createGame').click(function () {
    var missingFields = [];
    $('.gameTerm').each(function () {
      if (!$(this).val()) {
        missingFields.push($(this).attr('data-field-name'));
      }
    });

    if (missingFields.length > 0) {
      message('Missing fields: ' + missingFields.join(', '));
    } else {
      $.post(
        "/games",
        {
          home_team_id: $('#homeTeamId').val(),
          away_team_id: $('#awayTeamId').val(),
          date: $('#date').val(),
          time: $('#time').val(),
          authenticity_token: "<%= form_authenticity_token %>"
        }, function( data ) {
          message(data.message)
        },"json");
    }
  });
</script>