<nav class="nav">
  <!-- Top Menu Items -->
  <ul>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
      </li>
      <li>
        <%= link_to current_user.displayname || current_user.email, edit_user_registration_path %>
      </li>
      <li> <%= link_to "Picks", picks_path %> </li>
      <li> <%= link_to "Games List", games_path %> </li>
      <% if current_user.role == "admin" || current_user.role == "god" %>
        <li> <%= link_to "Admin", "/admin/games" %></li>
      <% end %>
    <% else %>
      <li>
        <%= link_to 'Login', new_user_session_path %>
      </li>
      <li>
        <%= link_to 'Sign Up', new_user_registration_path  %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Nightly Pick'ems", root_path, :class=>"nav-title" %>
</nav>
