<!DOCTYPE html>
<html>
<head>
  <title>NHL Nightly Pick'ems</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <div id="wrapper">
    <%= render "layouts/nav" %>
    <div id="page-wrapper">
      <% if notice %>
        <div class="alert alert-warning"><p class="notice"><%= notice %></p></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger"><p class="alert"><%= alert %></p></div>
      <% end %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>