<!DOCTYPE html>
<html>
<head>
  <title>NHL Nightly Pick'ems</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>

    <script type="text/javascript">
    function message(message) {
      $('p.alert').text(message);
      $("#page-wrapper .alert").show('blind', {}, 500, function() {
        setTimeout(function() {
            $("#page-wrapper .alert").hide('blind', {}, 500);
        }, 5000);
      });
    }
    </script>
  <% if notice || alert %>
    <script type="text/javascript">
      $(document).ready(function () {
        message("<%= notice || alert %>")
      });
    </script>
  <% end %>
</head>
<body>

  <div id="wrapper">
    <%= render "layouts/nav" %>
    <div id="page-wrapper">
      <div class="alert alert-danger"><p class="alert"></p></div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
  </div>

</body>
</html>